{% extends 'shop/main.html' %}
{% load static %}
{% load product_currency %}
{% block content %}
    <div class="row">
        {% for product in all_products %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{ product.default_image.url }}">
                <div class="box-element product">
                    <h6><strong>{{ product.name }}</strong></h6>
                    <hr>
                    {% product_price_available product as is_product_available %}
                    {% if is_product_available %}
                        <form method="post" action="{% url 'shop:add-to-cart' %}">
                            {% csrf_token %}
                            <input type="hidden" value="{{ product.id }}" name="product_id">
                            <input type="hidden" value="{{ current_currency }}" name="currency">
                            <input type="hidden" value="add" name="action">
                            <input type="hidden" value="{% url 'shop:store' %}" name="redirect_to">
                            <button class="btn btn-outline-success" type="submit">Add to cart</button>
                        </form>
                    {% endif %}
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style="display: inline-block;float: right">
                        <strong>
                            {% product_price product %}
                        </strong>
                    </h4>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}